[Unit]
Description=Fällige Stadtplaner Domain Events regelmäßig zustellen

[Timer]
OnBootSec=1m
OnUnitActiveSec=1m
AccuracySec=10s
Persistent=true
Unit=stadtplaner-domain-event-outbox.service

[Install]
WantedBy=timers.target
