server {
    listen 80;
    listen [::]:80;
    server_name {{ monitoring_grafana_host }};

    location /.well-known/acme-challenge/ {
        root /var/www/letsencrypt;
    }

    location / {
        return 301 https://$host$request_uri;
    }
}

server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;
    server_name {{ monitoring_grafana_host }};

    ssl_certificate /etc/letsencrypt/live/{{ monitoring_grafana_certificate_name }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ monitoring_grafana_certificate_name }}/privkey.pem;

    add_header X-Content-Type-Options nosniff always;
    add_header Referrer-Policy no-referrer always;
    add_header X-Frame-Options DENY always;

    location / {
        proxy_pass http://{{ monitoring_grafana_bind_address }}:{{ monitoring_grafana_port }};
        proxy_http_version 1.1;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
        proxy_connect_timeout 3s;
        proxy_read_timeout 60s;
    }
}
