apiVersion: 1

deleteDatasources:
  - name: Stadtplaner Prometheus
    orgId: 1
  - name: Stadtplaner Tempo
    orgId: 1

datasources:
  - name: Stadtplaner Prometheus
    uid: stadtplaner-prometheus
    type: prometheus
    access: proxy
    url: http://{{ monitoring_prometheus_bind_address }}:{{ monitoring_prometheus_port }}
    isDefault: true
    editable: false
    jsonData:
      timeInterval: {{ monitoring_prometheus_scrape_interval }}

  - name: Stadtplaner Tempo
    uid: stadtplaner-tempo
    type: tempo
    access: proxy
    url: {{ monitoring_tempo_url }}
    isDefault: false
    editable: false
    jsonData:
      nodeGraph:
        enabled: true
      search:
        hide: false
